<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Egits\MsiLowStockNotification\Model\LowStockItem" type="Egits\MsiLowStockNotification\Model\ResourceModel\LowStockItem" />
	<preference for="Egits\MsiLowStockNotification\Api\StockManagementInterface" type="Egits\MsiLowStockNotification\Model\StockManagement" />
</config>
