<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!-- <event name="admin_system_config_changed_section_msi_low_stock_notification">
		<observer name="Egits_MsiLowStockNotification_Observer" instance="Egits\MsiLowStockNotification\Observer\CheckStock" />
	</event> -->
</config>
<!-- <?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="admin_system_config_changed_section_msi_low_stock_notification">
		<observer name="Egits_MsiLowStockNotification_Observer" instance="Egits\MsiLowStockNotification\Observer\CheckObserver" />
	</event>
</config> -->
